.book-content {
    background-color: rgb(44, 44, 44);
    color: white;
  }
  
  button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
  }

body{
    background-color:rgb(44, 44, 44) ;
    color: white;
}