.book-content {
    background-color: white;
    color: black;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
  }
  
body{
    color: black;
    background-color: white;
}