.navbar{
    background:#CCFFCC;
   }
   .nav-link , .navbar-brand{
    color: #000000;
    cursor: pointer;
   }
   .nav-link{
    margin-right: 1em !important;
   }
   .nav-link:hover{
    background: #000000;
    color: #f97300;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#fff !important;
   }