html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header{
  text-align: center;
  color: darkcyan;
  border: 1px solid black;
  background-color: lightgreen;
  margin-top: -8px;
  justify-content: space-between;
}

.about{
  border-radius: 8px;
  background-color: lightgreen;
  margin: 40px;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}

.cataloge{
  border-radius: 8px;
  background-color: lightgreen;
  margin: 40px;
  padding: 20px;
  border: 2px solid black;
}

footer{
  background-color: lightgreen;
  padding: 13px;
  text-align: center;
  font-size: 12px;
  color: #777;
  margin-top: 270px;
  border: 1px solid black;
}