<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг</title>
</head>
<body>
    <h1>Результаты поиска {{query}}</h1>
    <ul>
        {% if books %}
            {% for book in books %}
                <li>
                    <h3>{{ book[0] }}</h3>
                    <p>Автор: {{ book[1] }}</p>
                </li>
            {% endfor %}
        {% else %}
                <p>Книги не найдены</p>
        {% endif %}
    </ul>
    <a href="/">Вернуться на главную</a>
</body>
</html>
