<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Онайлн библиотека</title>
  <link rel="stylesheet" href="static/qwe.css">
</head>
<body>
  <header>
    <h1>Добро пожаловать на наш сайт</h1>
  </header>
  <section class="about">
    <h2> О нас</h2>
    <p>На нашем сайте вы можете бесплатно читать любимые ваши книги</p>
  </section>

  <section class="cataloge">
    <h2>Каталог книг:</h2>
    <img src='../static/images/romeo.jpg' alt='romeo'>
    <a class='button-read' href=''>Читать</a>
  </section>

  <footer>
    Онлайн библиотека.ru 2024
  </footer>

</body>
</html>
