<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link href='static/qwe.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a class="navbar-band" href="#">Онлайн магазин</a>
            <button class='navbar-toggler' type='button' >
                <span class='navbar-toggler-icon'></span>
            </button>
        <div class='collapse navbar-collapse'>
            <ul class='navbar-nav mr-4'>
                <li class='nav-item'>
                    <a class='nav-link' href='https://dzen.ru/?yredirect=true&clid=2261452&win=514' target='_blank'>Пример</a>
                </li>
            </ul>
        </div>

        </nav>
    </header>
    <script type="text/javascript" src='static/main.js'></script>
</body>
</html>