<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block start %}Онайлн библиотека{%endblock %}</title>
  <link rel="stylesheet" href="static/qwe.css">
  <style>
    a{
  display: block;
  border-radius: 5px;
  color: black;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 45px;
  border: 2px solid black;
  width: 49px;
  background-color: rgb(255, 255, 255);
}
  </style>
</head>
<body>
  {%block contents%}
  <header>
    <h1>Добро пожаловать на наш сайт</h1>
    <section class="about">
      <p>На нашем сайте вы можете бесплатно читать любимые ваши книги</p>
    </section>
  </header>
  <section class="cataloge">
    <h2>Каталог книг:</h2>
    <h3>Ромео и Джульетта.</h3>
    <img src='../static/images/romeo.jpg' alt='romeo'>
    <a class='button-read' href='/romeo' target='_blank'>Читать</a>
    
    
  </section>
  {%endblock%}
  <footer>
    Онлайн библиотека.ru 2024
  </footer>

</body>
</html>
