{% extends "index.html" %}

{%block start%} Ромео и Джульета {% endblock%}

{%block contents%}
<header>
    <h1>Ромео и Джульета</h1>
</header>
<a class='back' href='/'>Вернуться на главную страницу</a>
    <p class='romeo'>
        Уильям Шекспир
Ромео и Джульетта1
Действующие лица
Эскал, князь Веронский.2
Граф Парис, молодой человек, родственник князя.
Монтекки, Капулетти – главы двух враждующих домов.
Дядя Капулетти.
Ромео, сын Монтекки.
Меркуцио, родственник князя, друг Ромео.
Бенволио, племянник Монтекки, друг Ромео.
Тибальт, племянник леди Капулетти.
Брат Лоренцо, Брат Джованни – францисканские монахи.
Балтазар, слуга Ромео.
Самсон, Грегорио – слуги Капулетти.
Петр, слуга Джульеттиной кормилицы.
Абрам, слуга Монтекки.
Аптекарь.
Три музыканта.
Паж Париса.
Первый горожанин.
Леди Монтекки, жена Монтекки.
Леди Капулетти, жена Капулетти.
Джульетта, дочь Капулетти.
Кормилица Джульетты.
Горожане Вероны, мужская и женская родня обоих домов, ряженые, стража, слуги и
хор.
Место действия – Верона и Мантуя.
Пролог
Входит хор.
Хор
Две равно уважаемых семьи
В Вероне, где встречают нас событья,
Ведут междоусобные бои
И не хотят унять кровопролитья.
Друг друга любят дети главарей,
Но им судьба подстраивает козни,
И гибель их у гробовых дверей
Кладет конец, непримиримой розни.
Их жизнь, и страсть, и смерти торжество,

1 Сюжет пьесы первоначально возник в новеллистике итальянского Возрождения, а Шекспир его узнал в обработке английского поэта Артура Брука в поэме «Ромеус и Джульетта» (1562). Главные герои трагедии — двадцатилетний Ромео и Джульетта, которой нет еще и четырнадцати лет. Действие пьесы охватывает пять дней и происходит в
начале XIV века в городе Вероне.
2 В то время правителем Вероны был Бартоломмео делла Скала.
        </p>
{%endblock%}
